body {
    background-image: url("../images/grey-bg.jpg");
    /* background-size: cover; */
    background-position: top center;
    background-repeat: repeat;
    background-color: rgb(70, 64, 61);
    color: white;
}

h1 {
    color: white;
    font-size: 60px;
    padding: 10px 0px 0px 0px;
 }

 h5 {
    color: rgb(45, 45, 45);
 }

.card-text {
    color: rgb(45, 45, 45);
}

.navbar-inner {
    background:transparent;
}

.navbar {
    padding-left:0px;
    font-size: 20px;
}

.fa-github:hover {
    background-color: #24292E;
}

.fa-linkedin-in:hover {
    background-color: #0078B1;
}

.social > li {
    padding-left:10px;
    padding-right:10px;
  }

form {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 20px;
    font-size: 24px;
}

.standing {
    width: 600px;
}

.description {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    color: white;
    font-family: 'Karma', serif;
    padding-top: 10px;
    line-height: 28px;
}

.carousel-caption {
    color: black;
}

iframe {
    width: 100%;
    height: 720px;
}

.dev {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px 0px 0px 10px
}

.dev2 {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 0px 10px 10px 0px
}

#filler {
    color: rgba(0, 0, 0, 0.00);
}

h2 {
    margin: 10px;
}

.card-body:hover {
    background-color:rgba(162, 193, 250, 0.205)
}
